name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  nebulex_test:
    name: >-
      Nebulex.Adapters.Redis Test (Elixir ${{ matrix.elixir }} / OTP ${{ matrix.otp }} /
      OS ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - elixir: 1.19.x
            otp: 28.x
            os: 'ubuntu-latest'
            lint: true
            coverage: true
            dialyzer: true
          - elixir: 1.18.x
            otp: 28.x
            os: 'ubuntu-latest'
          - elixir: 1.17.x
            otp: 27.x
            os: 'ubuntu-latest'
          - elixir: 1.15.x
            otp: 25.x
            os: 'ubuntu-latest'

    env:
      GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      CODECOV_TOKEN: '${{ secrets.CODECOV_TOKEN }}'
      MIX_ENV: test
      NEBULEX_PATH: nebulex
      REDIS_CLUSTER_IP: '0.0.0.0'

    steps:
      - uses: actions/checkout@v3

      - name: Start Docker
        run: docker compose up --detach

      - name: Install OTP and Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: '${{ matrix.otp }}'
          elixir-version: '${{ matrix.elixir }}'

      - name: Cache deps
        uses: actions/cache@v3
        id: mix-cache
        with:
          path: deps
          key: >-
            ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{
            hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Cache _build
        uses: actions/cache@v3
        with:
          path: _build
          key: >-
            ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-build-${{
            hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

      - name: Install Nebulex
        run: mix nbx.setup

      - name: Install Dependencies
        run: |
          mix local.hex --force
          mix local.rebar --force
          mix deps.get
        if: ${{ steps.mix-cache.outputs.cache-hit != 'true' }}

      - name: Compile deps
        run: mix deps.compile

      - name: Check unused dependencies
        run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - name: Compile lint
        run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - name: Run style and code consistency checks
        run: |
          mix format --check-formatted
          mix credo --strict
        if: ${{ matrix.lint }}

      - name: Run tests
        run: |
          epmd -daemon
          mix test --exclude cluster_queryable_test --exclude redis_cluster
        if: ${{ !matrix.coverage }}

      - name: Run tests with coverage
        run: |
          epmd -daemon
          mix coveralls.json --exclude cluster_queryable_test
        if: ${{ matrix.coverage }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          flags: unittests-elixir-${{ matrix.elixir }}-otp-${{ matrix.otp }}
        if: ${{ matrix.coverage }}

      - name: Restore PLT Cache
        uses: actions/cache@v3
        id: plt-cache
        with:
          path: priv/plts
          key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-plt-v1
        if: ${{ matrix.dialyzer }}

      - name: Create PLTs
        run: |
          mkdir -p priv/plts
          mix dialyzer --plt
        if: ${{ matrix.dialyzer && steps.plt-cache.outputs.cache-hit != 'true' }}

      - name: Run dialyzer
        run: mix dialyzer --format github
        if: ${{ matrix.dialyzer && steps.plt-cache.outputs.cache-hit != 'true' }}
